body {
  overflow-x: hidden;
}
body {
  font-family: 'Fira Sans', sans-serif;
}
.find-pharmacy {
  position: fixed;
  right: 15px;
  top: 50%;
  z-index: 2;
  display: inline-block;
  color: #fff;
  padding: 10px 50px 10px 20px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  background-color: #e02f89;
  -webkit-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
  font-size: 16px;
  font-weight: 300;
  margin-right: -96px;
  text-decoration: none;
  -webkit-box-shadow: 0px -2px 18px 2px rgba(0,0,0,0.18);
          box-shadow: 0px -2px 18px 2px rgba(0,0,0,0.18);
}
.find-pharmacy:hover,
.find-pharmacy:visited,
.find-pharmacy:active,
.find-pharmacy:focus {
  outline: none;
  text-decoration: none;
  color: #fff;
}
.find-pharmacy:after {
  content: "";
  background-image: url("../img/ico-find-pharmacy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 7px;
  right: 8px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
#nav-icon {
  width: 30px;
  height: 20px;
  display: none;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #e02f89;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0;
}
#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px;
}
#nav-icon span:nth-child(4) {
  top: 18px;
}
#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
a,
button {
  text-transform: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
* {
  outline: none;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
}
.page-content ul li,
.page-content ol li {
  position: relative;
}
.page-content ul li:before,
.page-content ol li:before {
  display: inline-block;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  margin-right: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  content: '';
  background-color: #e02f89;
}
.page-content img {
  border: 5px solid #fff;
  -webkit-box-shadow: 0px 2px 20px 0 rgba(97,13,60,0.26);
          box-shadow: 0px 2px 20px 0 rgba(97,13,60,0.26);
}
.page-content img.alignright {
  float: right;
  margin-bottom: 15px;
  margin-left: 15px;
}
.page-content img.alignleft {
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 15px 0;
}
h2,
.h2 {
  font-size: 38px;
}
h3,
.h3 {
  font-size: 32px;
}
h4,
.h4 {
  font-size: 26px;
}
h5,
.h5 {
  font-size: 24px;
}
h6,
.h6 {
  font-size: 18px;
}
.title,
.h1,
h1 {
  font-size: 48px;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 600;
}
.text-color-base {
  color: #e02f89;
}
@media only screen and (max-width: 768px) {
  .page-content img {
    max-width: 100%;
  }
  .page-content img.alignright {
    float: none;
    margin-left: 0;
  }
  .page-content img.alignleft {
    float: none;
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 0;
  }
}
.nav {
  -webkit-box-shadow: 0 2px 20px 0 #eee;
          box-shadow: 0 2px 20px 0 #eee;
}
.nav .container {
  font-size: 0;
}
.logo {
  position: relative;
  width: 240px;
  background-color: #e02f89;
  display: inline-block;
  padding: 18px 20px;
  vertical-align: top;
}
.logo__description {
  position: absolute;
  top: 100%;
  background-color: #e02f89;
  width: 100%;
  left: 0;
  z-index: 1;
  padding: 20px 20px 10px 20px;
}
.logo__description:before {
  content: '';
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  position: absolute;
  top: -1px;
  border: 1px solid #fff;
}
.logo__description:after {
  content: '';
  top: 100%;
  left: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 18px solid #e02f89;
  border-right: 240px solid transparent;
}
.logo__description span {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.navigation {
  display: inline-block;
  width: -webkit-calc(100% - 240px);
  width: calc(100% - 240px);
  font-size: 0;
}
.navigation__companyLink {
  width: 85px;
  line-height: 66px;
  display: inline-block;
  vertical-align: top;
}
.menu {
  display: inline-block;
  width: 60%;
  padding: 0 30px 0 30px;
  margin: 0;
}
.menu__item {
  float: left;
  width: 33%;
  text-align: center;
}
.menu__item a {
  display: block;
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 14px;
  line-height: 66px;
}
.menu__item a:hover {
  text-decoration: none;
  color: #e02f89;
}
.current-menu-item a {
  background-color: #e02f89;
  color: #fff;
}
.current-menu-item a:hover {
  background-color: #e659a1;
  color: #eee;
}
.search {
  width: -webkit-calc(40% - 85px);
  width: calc(40% - 85px);
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 0 0 60px;
  margin-top: 16px;
  vertical-align: top;
}
.search input {
  width: 100%;
  font-size: 14px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 1px solid #d7d7d7;
  padding: 8px 32px 8px 15px;
  line-height: 1.4;
  vertical-align: baseline;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.18);
          box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.18);
}
.search button {
  position: absolute;
  right: 0;
  font-size: 16px;
  color: #6e6e6e;
  padding: 5px 15px;
  height: 100%;
  border: none;
  background-color: transparent;
}
.search button:hover {
  opacity: 0.6;
  color: #e02f89;
}
.banner-header__image {
  width: 100%;
  height: 550px;
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-header {
  position: relative;
  padding-top: 150px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}
.page-header__box {
  display: table;
}
.page-header__box .h1 {
  display: table-cell;
  vertical-align: middle;
}
.page-header__content {
  position: relative;
  z-index: 1;
}
.page-header:before,
.page-header:after {
  position: absolute;
  top: 0;
  width: 400px;
  height: 500px;
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
}
.page-header:before {
  left: -25px;
  background-image: url("../img/decor-left.png");
}
.page-header:after {
  right: -25px;
  background-image: url("../img/decor-right.png");
}
.info {
  padding: 0 0 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f7));
  background-image: -webkit-linear-gradient(top, #fff, #f9f9f7);
  background-image: linear-gradient(to bottom, #fff, #f9f9f7);
}
.info__row {
  padding: 40px 0;
}
.info__box {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.info__box-text {
  display: table;
  width: 80%;
  margin: 0 auto;
}
.info__text {
  display: table-cell;
  vertical-align: middle;
}
.info__text p {
  font-size: 18px;
}
.info__image {
  width: 90%;
  height: 320px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 60px 0 60px 0;
          border-radius: 60px 0 60px 0;
  border: 5px solid #fff;
  -webkit-box-shadow: -1px 23px 27px -14px rgba(0,0,0,0.46);
  box-shadow: -1px 23px 27px -14px rgba(0,0,0,0.46);
}
.info__separator {
  width: 100%;
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9f9f7;
  position: relative;
}
.page-content {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-link-content {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-link-content p {
  margin-bottom: 20px;
}
.page-link-content a {
  display: inline-block;
  width: 100%;
  padding-top: 12px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-left: 30px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #e02f89;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  -webkit-box-shadow: 0 2px 20px 8px #d0d0d0;
          box-shadow: 0 2px 20px 8px #d0d0d0;
}
.page-link-content a:hover,
.page-link-content a:focus {
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #e96dac;
}
.howWork {
  padding: 70px 0 30px;
  background-color: #f9f9f7;
}
.advantages-container {
  margin: 25px 0 85px;
}
.advantages {
  font-size: 0;
}
.advantages__box {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.advantages__box-text {
  display: table;
  float: right;
}
.advantages__text {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.5;
}
.advantages__image {
  position: relative;
  float: right;
  margin: 0 34px 0 0;
  width: 162px;
  height: 162px;
  -webkit-box-shadow: 0 8px 24px 0px #e7e7e7;
          box-shadow: 0 8px 24px 0px #e7e7e7;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #e1e1e1;
}
.advantages__image img {
  position: absolute;
  top: 50%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mechanism {
  max-width: 660px;
  margin: 0 auto;
}
.mechanism__title {
  max-width: 480px;
  margin: 0 auto 52px;
}
.mechanism__title p {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 18px 30px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #e02f89;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  color: #fff;
}
.mechanism__box-wrapper {
  position: relative;
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
  display: table;
  float: left;
  min-height: 150px;
  margin: 0 15px 52px;
  padding: 24px;
  background-color: #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 3px dashed #e1e1e1;
}
.mechanism__box-wrapper:before {
  content: url("../img/iconArrow.png");
  position: absolute;
  left: 50%;
  top: -35px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.mechanism__box-wrapper-last:after {
  content: url("../img/iconArrow.png");
  position: absolute;
  left: 50%;
  bottom: -35px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.mechanism__box {
  display: table-cell;
  vertical-align: middle;
}
.mechanism__text {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.effect {
  font-size: 0;
  width: 100%;
  padding: 0;
  list-style: 0;
}
.effect__item {
  width: 33.3%;
  height: 46px;
  display: inline-block;
  padding-left: 40px;
  margin-bottom: 30px;
  vertical-align: top;
}
.effect__item:last-child {
  margin-bottom: 0;
}
.effect__icon {
  width: 46px;
  height: 46px;
  background-size: contain;
  display: inline-block;
  line-height: 46px;
}
.effect__text {
  display: table;
  float: right;
  text-align: left;
  width: -webkit-calc(100% - 48px);
  width: calc(100% - 48px);
  height: 46px;
  padding-left: 20px;
}
.effect__text span {
  font-size: 14px;
  vertical-align: middle;
  display: table-cell;
}
.banner {
  position: relative;
  width: 100%;
  height: 470px;
  margin-bottom: -130px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .container {
  position: relative;
  height: 100%;
}
.banner__text {
  position: absolute;
  left: 15px;
  top: 58%;
  width: 34%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 38px;
  line-height: 1.6;
  font-weight: 300;
  color: #fff;
}
.why {
  padding: 150px 0 40px;
  background-color: #fffffe;
}
.why__title {
  margin-bottom: 70px;
}
.why__list-title {
  margin-bottom: 30px;
  font-weight: 800;
}
.ok-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ok-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}
.ok-list li:before {
  position: absolute;
  content: url("../img/iconOkMin.png");
  left: 0;
  top: 0;
}
.ok-list__why li {
  padding-right: 80px;
}
.ok-list__why li p {
  font-size: 14px;
}
.ok-line {
  position: relative;
  width: 100%;
  margin: 60px 0;
  border-top: 1px solid #e1e1e1;
}
.ok-line img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.greate {
  padding: 20px 0 40px;
}
.greate__box-text {
  display: table;
}
.greate__text {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  text-align: right;
  padding: 0 0 0 122px;
}
.greate__image {
  margin-left: 30px;
}
.banner.banner-children {
  margin: 0;
}
.banner .banner__text-children {
  top: 44%;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.1px;
}
.use {
  padding: 80px 0 120px;
}
.use__title {
  margin-bottom: 70px;
}
.use__box {
  width: 20%;
  float: left;
  padding: 0 15px;
  text-align: center;
}
.use__icon-box {
  position: relative;
  width: 164px;
  height: 164px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  display: block;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 8px 24px 0px #e7e7e7;
          box-shadow: 0 8px 24px 0px #e7e7e7;
}
.use__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.use__ears {
  font-size: 16px;
}
.use__size {
  font-weight: 600;
  font-size: 30px;
  color: #e02f89;
}
.use__time {
  font-size: 16px;
  color: #a3a3a2;
}
.video {
  position: relative;
  max-width: 640px;
  margin: 0 auto -260px;
  -webkit-border-radius: 60px 0 60px 0;
          border-radius: 60px 0 60px 0;
  border: 5px solid #fff;
  -webkit-box-shadow: 0px 26px 44px 0 rgba(97,13,60,0.46);
          box-shadow: 0px 26px 44px 0 rgba(97,13,60,0.46);
  overflow: hidden;
  z-index: 2;
}
.video video {
  width: 100%;
  margin-top: -30px;
  margin-bottom: -6px;
}
.footer {
  position: relative;
  overflow: hidden;
  padding-top: 370px;
  padding-bottom: 100px;
  background-color: #e02f89;
}
.footer:before {
  position: absolute;
  content: '';
  width: 120%;
  height: 300px;
  top: -90px;
  background-color: #e02f89;
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
.footer__title {
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  font-size: 30px;
}
.footer__description {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}
.footer__social {
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.footer__social li {
  margin: 0 15px 15px;
  display: inline-block;
}
.footer__social li a {
  display: inline-block;
}
.footer__social li a:hover {
  opacity: 0.6;
}
.footer__navigation {
  display: block;
  width: 100%;
  text-align: center;
}
.footer__navigation .menu {
  width: auto;
  margin-left: -60px;
  padding: 0;
}
.footer__navigation .menu__item {
  width: auto;
  padding: 0 22px;
}
.footer__navigation .menu__item a {
  color: #fff;
  font-weight: 300;
  line-height: 1.7;
}
.footer__navigation .menu__item a:hover {
  color: #f3acd0;
}
.footer__navigation__companyLink {
  line-height: 1;
  padding-left: 22px;
}
@media only screen and (max-width: 1200px) {
  .advantages__text {
    font-size: 16px;
  }
  .greate__text {
    padding-left: 70px;
  }
}
@media only screen and (max-width: 992px) {
  .menu {
    width: -webkit-calc(100% - 86px);
    width: calc(100% - 86px);
    padding: 0 15px;
  }
  .search {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 15px;
  }
  .info__row {
    padding: 15px 0;
  }
  .info__image {
    width: 100%;
  }
  .info__box-text {
    width: 100%;
  }
  .greate__image {
    width: 100%;
    margin-left: 0;
  }
  .greate__text {
    padding-left: 0;
  }
  .howWork {
    padding-top: 15px;
  }
  .banner__text {
    width: 50%;
  }
  .advantages-container {
    margin-bottom: 30px;
  }
  .why {
    padding-top: 120px;
  }
  .ok-list li {
    padding-right: 0;
  }
  .use {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
  }
  .use__title {
    margin-bottom: 30px;
  }
  .use__icon-box {
    margin-bottom: 15px;
  }
  .use__box {
    display: inline-block;
    width: 30.3%;
    margin-bottom: 15px;
    float: none;
    vertical-align: top;
  }
  .footer {
    padding-top: 310px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .page-header {
    padding-top: 60px;
  }
  .page-header:before,
  .page-header:after {
    display: none;
  }
  .page-header__box {
    width: 100%;
  }
  .page-header__box .h1 {
    display: block;
    margin-bottom: 15px;
  }
  .page-header__box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .info {
    padding-bottom: 15px;
  }
  .info__row {
    padding: 0 0 15px;
  }
  .info__image {
    margin-bottom: 15px;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: 0px 16px 20px -16px rgba(0,0,0,0.3);
            box-shadow: 0px 16px 20px -16px rgba(0,0,0,0.3);
  }
  .advantages {
    margin-bottom: 15px;
  }
  .advantages__image {
    float: none;
    margin: 0 auto;
  }
  .banner__text {
    font-size: 28px;
  }
  .why {
    padding-bottom: 15px;
  }
  .why__title {
    margin-bottom: 30px;
  }
  .why__list-title {
    margin-bottom: 15px;
  }
  .ok-list {
    margin-bottom: 30px;
  }
  .banner .banner__text-children {
    font-size: 20px;
  }
  .greate__box-text {
    margin-bottom: 30px;
  }
  .greate__text {
    text-align: left;
  }
}
@media only screen and (min-width: 680px) {
  .menu {
    display: inline-block !important;
  }
}
@media only screen and (max-width: 680px) {
  .page-link-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .page-link-content a {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 16px;
  }
  .page-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page-header__box .h1 {
    text-align: center;
  }
  .page-header__box img {
    max-width: 100%;
  }
  #nav-icon {
    display: block;
  }
  .nav .container {
    padding: 0;
  }
  .logo {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo:after {
    content: '';
    clear: both;
    display: table;
    width: 100%;
  }
  .logo__description {
    position: static;
    display: inline-block;
    width: auto;
    float: right;
    padding: 0;
  }
  .logo__description:before,
  .logo__description:after {
    display: none;
  }
  .navigation {
    width: 100%;
    margin-top: -35px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navigation__companyLink {
    line-height: 50px;
  }
  .search {
    padding-left: 0;
  }
  .menu {
    display: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu li {
    width: 100%;
  }
  .menu li a {
    line-height: 36px;
  }
  .advantages__box {
    width: 100%;
  }
  .advantages__box-text {
    margin-bottom: 30px;
    text-align: center;
  }
  .mechanism__box-wrapper {
    width: 100%;
    margin-bottom: 45px;
    margin-left: 0;
    margin-right: 0;
  }
  .effect__item {
    width: 50%;
  }
  .effect__item-hidden-mobile {
    display: none;
  }
  .use__box {
    width: 48%;
  }
  .video {
    -webkit-border-radius: 0;
            border-radius: 0;
  }
  .footer {
    padding-bottom: 0;
  }
  .footer__social {
    margin-bottom: 15px;
  }
  .footer__navigation .menu {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .footer__navigation .menu__item {
    display: block;
    float: none;
  }
  .footer__navigation__companyLink {
    padding-left: 0;
  }
  .info__separator {
    height: 130px !important;
  }
  .wrap-link-apteka {
    text-align: center;
    margin-bottom: 42px;
  }
  .find-pharmacy {
    position: relative;
    right: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: 0 auto;
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  .find-pharmacy:after {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
@media only screen and (max-width: 480px) {
  .banner {
    min-height: 200px;
  }
  .banner__text {
    font-size: 20px;
    line-height: 1.2;
  }
  .banner .banner__text-children {
    font-size: 16px;
    width: 68%;
  }
  .banner-header__image {
    min-height: 220px;
  }
  .banner.banner-children {
    min-height: 260px;
  }
  .info__image {
    height: 220px;
  }
  h1,
  .h1 {
    font-size: 36px;
  }
  h2,
  .h2 {
    font-size: 32px;
  }
  h5,
  .h5 {
    font-size: 20px;
  }
  h6,
  .h6 {
    font-size: 18px;
  }
  .effect__item {
    width: 100%;
    padding-left: 0;
  }
  .use__box {
    width: 100%;
    margin-bottom: 40px;
  }
  .video {
    margin: 0;
  }
  .footer {
    padding-top: 40px;
  }
  .footer:before {
    display: none;
  }
  .footer__title {
    font-size: 20px;
  }
  .footer__description {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
