#app {
  font-family: 'SF Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #333;
}

#app * {
  box-sizing: border-box
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .3s;
}

h1,
.h1 {
  font-size: 36px;
  margin-bottom: 14px;
}

h2,
.h2 {
  font-size: 32px;
  margin-bottom: 14px;
}

h3,
.h3 {
  font-size: 28px;
  margin-bottom: 14px;
}

h4,
.h4 {
  font-size: 24px;
  margin-bottom: 14px;
}

h5,
.h5 {
  font-size: 20px;
  margin-bottom: 14px;
  margin-top: 0;
}
