clearfix()
  &:after,
  &:before
    clear: both
    content: "."
    display: block
    font-size: 0
    height: 0
    line-height: 0
    visibility: hidden

$cubic = cubic-bezier(0.4, 0.01, 0.165, 0.99)
$background-dark = #1A1A1A
$gradient-theme = linear-gradient(to right, #26a69a 0%, #5286a6 25%, #5286a6 50%, #8c5db4 75%, #ab48bc 100%)
